@{
  Layout = "_Layout";
}

@using TreatShop.Models
@model TreatShop.Models.Treat

<h1>Unauthorized Access</h1>
<p>You do not have permission to perform this action.</p>

<p>@Html.ActionLink("Back to home page", "Index")</p>